.picture {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.main {
  margin-left: 351px;
  margin-right: 351px;
  @media screen and (max-width: 768px) {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.main__title {
  margin-top: 92px;
  @media screen and (max-width: 768px) {
    margin-top: 56px;
  }
  @media screen and (max-width: 320px) {
    margin-top: 41px;
  }

}

.main__nesting {
  margin-top: 41px;
  @media screen and (max-width: 768px) {
    margin-top: 30px;
  }
  @media screen and (max-width: 320px) {
    margin-top: 11px;
  }

}

.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  color: #000000;
  @media screen and (max-width: 768px) {
    font-size: 45px;
    line-height: 55px;
  }
  @media screen and (max-width: 320px) {
    font-size: 30px;
    line-height: 37px;
  }
}

.nesting {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  height: 48px;
  color: #B1B1B1;
  border-bottom: 1px #E5E5E5 solid;
  border-top: 1px #E5E5E5 solid;
  display: flex;
}

.nesting_gray-thin {
  color: #4C858B;
}

.nesting__item {
  align-self: center;
}

.main__margin-top-subtitle {
  margin-top: 81px;
  @media screen and (max-width: 768px) {
    margin-top: 60px;
  }
  @media screen and (max-width: 320px) {
    margin-top: 11px;
  }
}

.simple-fonts {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  @media screen and (max-width: 320px) {
    font-size: 14px;
    line-height: 26px;
  }

}

.red {
  color: #E33E54;
}

.section-cartoon-chimney {
  height: 700px;
  @media screen and (max-width: 768px) {
    height: auto;
  }
}


.subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 63px;
  margin-top: 42px;
  color: #000000;
  @media screen and (max-width: 768px) {
    font-size: 30px;
    line-height: 52px;
  }
  @media screen and (max-width: 320px) {
    margin-top: 16px;
    font-size: 18px;
    line-height: 37px;
  }
}

.subtitle_red {
  text-transform: uppercase;
  color: #E33E54;
  font-family: 'Montserrat-Black';
}

.section-cartoon-chimney__skills {
  margin-top: 39px;
  margin-left: 40px;
  @media screen and (max-width: 768px) {
    margin-top: 21px;
  }
  @media screen and (max-width: 320px) {
    margin-top: 17px;
    margin-left: 25px;
  }
}

.skills {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  li {
    margin-bottom: 20px;
  }

  li::marker {
    color: #EA6628;
  }

  @media screen and (max-width: 320px) {
    font-size: 14px;
    line-height: 24px;
  }
}

.zero-margin {
  margin: 0px;
}

hr {
  width: 74px;
  background: #E33E54;
  height: 5px;
}

.process__ol {
  margin-bottom: 108px;
  margin-top: 51px;
  @media screen and (max-width: 768px) {
    margin-top: 40px;
    margin-bottom: 55px;
  }
  @media screen and (max-width: 320px){
    margin-top: 18px;
    margin-bottom: 43px;
  }
}

ol {
  list-style-position: inside;
  column-count: 2;
  counter-reset: item;

  li {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    display: flex;
    align-items: center;
  }

  li:before {
    display: inline-block;
    content: counter(item) "  ";
    counter-increment: item;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
    margin-right: 36px;
    color: #E33E54;
    opacity: 0.2;
  }

  @media screen and (max-width: 768px) {
    li {
      font-size: 14px;
      line-height: 26px;

    }
    li::before {
      font-size: 50px;
      line-height: 61px;
      color: #E33E54;
      margin-right: 19px;
    }
  }
  
  @media screen and (max-width: 320px){
    column-count: 1;
    li{
      margin-bottom: 11px;
    }
  }
}

.reasons {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    text-align: center;
  }
}

.reasons__text {
  margin-top: 51px;
  @media screen and (max-width: 768px) {
    margin-top: 26px;
    font-size: 18px;
    line-height: 30px;
  }
}


.reasons__subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
  @media screen and (max-width: 768px) {
    margin-top: 26px;
  }
}

.width-text {
  width: 386px;
  @media screen and (max-width: 768px) {
    width: 354px;
    margin: 20px auto auto;
  }
}

.h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  @media screen and (max-width: 768px) {
    font-size: 18px;
    line-height: 30px;
  }
}


.title-help {
  font-family: 'Montserrat-Black';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  @media screen and (max-width: 768px) {
    font-size: 40px;
    line-height: 30px;
  }
  @media screen and (max-width: 320px){
    font-size: 22px;
    line-height: 30px;
  }
}

.help__margin-top {
  margin-top: 98px;
  @media screen and (max-width: 768px) {
    margin-top: 52px;
  }
}

.under-title {
  text-align: center;
  @media screen and (max-width: 768px) {

  }
}

.help__sites-margin {
  margin-top: 30px;
  margin-left: 0px;
  @media screen and (max-width: 768px) {

  }
}

.menu__sites_orange {
  margin-left: 61px;

  .telegram {
    margin-left: 12px;
  }

  .instagram {
    margin-left: 16px;
  }

  .whatsapp {
    margin-left: 18px;
  }

  @media screen and (max-width: 768px) {
    .telegram {
      margin-left: 36px;
    }

    .instagram {
      margin-left: 36px;
    }

    .whatsapp {
      margin-left: 36px;
    }
  }
  @media screen and (max-width: 768px) {
    margin-left: 0px;
  }

}

.help__form-pos {
  margin: 38px auto 108px;
  padding-top: 57px;
  @media screen and (max-width: 768px) {
    padding-top: 49px;
    margin-bottom: 56px;
  }
}

.form {
  background: #FFFFFF;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
  width: 860px;
  height: 260px;
  @media screen and (max-width: 768px) {
    width: auto;
    height: 390px;
    text-align: center;
  }
  @media screen and (max-width: 320px) {
    display: contents;
  }
}

.form__pos {
  margin-left: 59px;
  @media screen and (max-width: 320px) {
    display: contents;
  }
}

.form__description {
  padding-bottom: 18px;
  @media screen and (max-width: 320px) {
    padding-top: 41px;
  }
}

.description {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: #000000;
}

.orange {
  color: #EA6628;
  @media screen and (max-width: 768px) {

  }
}

.form__inputs {
  margin-bottom: 61px;
  margin-top: 22px;
  margin-right: 55px;
  @media screen and (max-width: 768px) {
    margin: 22px auto 15px;
    :nth-child(2) {
      margin-bottom: 22px;
    }
  }
  @media screen and (max-width: 320px) {
    margin-bottom: 48px;
  }
}

.inputs {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    width: 354px;
  }
  @media screen and (max-width: 320px) {
    width: auto;
  }
}

input {
  width: 240px;
  height: 56px;
  border: 1px solid #E5E5E5;
  border-radius: 4px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #B1B1B1;
  @media screen and (max-width: 768px) {
    width: 354px;
  }
  @media screen and (max-width: 320px) {
    width: auto;
  }
}

.input__text {
  padding-left: 17px;
  @media screen and (max-width: 768px) {
    margin-bottom: 15px;

    :nth-child(2) {
      margin-bottom: 50px;
    }
  }
}

.button {
  background: #215359;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  @media screen and (max-width: 768px) {
    width: 240px;
    height: 56px;
    align-self: center;
  }
}

iframe {
  display: block;
  margin: auto auto 100px;
  position: relative;
  z-index: 4;
  width: 771px;
  height: 438px;
  @media screen and (max-width: 768px) {
    width: 93vw;
    height: fit-content;
  }
  @media screen and (max-width: 320px){
    margin-bottom: 48px;
  }
}


.video__pos {
  margin-top: 66px;
  margin-bottom: 100px;
  @media screen and (max-width: 768px) {
    margin-bottom: 34px;
    margin-top: 34px;
  }
}

.video {
  height: 900px;
  @media screen and (max-width: 768px) {
    height: fit-content;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 768px) {
    img {
      width: 226px;
      height: 208px;
    }
  }
  @media screen and (max-width: 320px) {
    justify-content: center;
    img {
      width: 130px;
      height: 120px;
    }
  }
}

.basement {
  display: flex;
  padding-left: 351px;
  padding-right: 351px;
  justify-content: space-between;

  background: #0C2F33;
  height: 350px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;

  color: #FFFFFF;
  @media screen and (max-width: 768px) {
    padding: 0px;
    height: 70px;

    :nth-child(1) {
      order: -5;
    }
    :nth-child(2) {
      order: -3;
    }
    :nth-child(3) {
      order: -4;
      align-self: center;
    }
    p {
      display: none;
    }
  }
}

.basement__column {
  margin-top: 88px;
  @media screen and (max-width: 768px) {

  }
}

.footer {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  @media screen and (max-width: 768px) {
    margin: 0px;
  }
}

.footer__list {
  list-style-type: none;
  column-count: 2;
  margin-top: 19px;

  li {
    margin-bottom: 19px;
    margin-right: 50px;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.light-blue {
  color: #4C858B;
  @media screen and (max-width: 768px) {

  }
}

.footer__list_margin-zero {
  li {
    margin-right: 0px;
  }

}

.city {
  font-family: 'Lato', 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.footer__city {
  margin-bottom: 26px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.footer__icon {
  margin-right: 5px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.visible {
  @media screen and (max-width: 768px) {
    display: block;
  }
}

